<ion-header>
  <ion-toolbar>
    <ion-title>client-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card size-sm="5">
          <ion-card-title> Client List </ion-card-title>
          <ion-card-content>
            <ion-list>
              <ion-item
                *ngFor="let it of Informes"
                button="true"
              >
              <!--   [routerLink]="['/','client-nutri','tabs','client-detail',informe]" -->
                <ion-label>{{it.fecha_informe}}</ion-label>
                <ion-label>{{it.id_user}}</ion-label>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button
  color="primary"
  [routerLink]="['/','client-nutri','tabs','client-detail','new-evaluation',client]"
>
  new Evaluation
</ion-button>
</ion-content>
